body{
    margin: 0;
}
.container{
    display:grid;
    height:100vh;
    grid-template-columns:.05fr .7fr .3fr;
    grid-template-rows: 1fr .5fr .4fr 1.2fr .7fr .3fr;
    grid-template-areas:
    "sidebar main realtors"
    "sidebar features features"
    "sidebar reviews reviews"
    "sidebar listings listings"
    "sidebar pictures pictures"
    "sidebar footer footer";
}

.sidebar{
    background-color:rgb(198,152,98);
    grid-area:sidebar;
    color: rgb(49,59,78);
    display:grid;
    justify-content:center;
}

main{
    
    grid-area:main;
    display:grid;
    grid-template-rows:.1fr .9fr ;
    grid-template-areas:
    "companyName"
    "landingCenter";
    background-image:url('https://wallpapercave.com/wp/wp3604632.jpg');
    background-position: center center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(49,59,78,.85);

    padding-left:5%;
    padding-right:5%;
    
}

.companyName{
    grid-area:companyName;
    /*background:#CED9D9;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    color:rgb(198,152,98);;
}

.landingCenter{
    grid-area:landingCenter;
    padding-top:250px;
    padding-bottom: 250px;
    font-family: 'Roboto Mono', monospace;
    color:rgb(198,152,98);;
} 

.landingCenter > h1{
    color:white;
}

.landingCenter > button{
    background-color: rgb(198,152,98);;
    color: white;
    border:none;
    width:200px;
    line-height:3;
    font-family: 'Roboto Mono', monospace;
}


legend{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    padding-right: 10px;
}



.realtors{
    background-color:rgb(49,59,78);
    grid-area:realtors;
    padding:250px 10px 250px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-rows:.1fr .3fr .3fr .3fr;
    grid-gap:2em;
    grid-template-areas: 
    "realtorTitle"
    "realtorBox1"
    "realtorBox2"
    "realtorBox3"; 
}



.realtorTitle{
    grid-area:realtorTitle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    color:rgb(183,138,56);
}

.realtorBox{
    display:grid;
    grid-template-columns:auto 2fr;
    grid-template-rows:1fr 1fr;
    
    grid-template-areas:
    "realtor-Img realtorName realtorName"
    "realtor-Img houseSold houseSold";
    
}

.realtor-Img{
    grid-area:realtor-Img;
    overflow: hidden;
    height:80px;
    width:80px;
    border-radius: 60%;
}

.realtorName{
    grid-area:realtorName;
    text-align:left;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    color:white;
}

.houseSold{
    grid-area:houseSold;
    text-align: left;
    padding-left: 10px;
    font-family: 'Roboto Mono', monospace;
    color:rgb(183,138,56);
    
}
.realtorBox1{
    grid-area:realtorBox1;
}
.realtorBox2{
    grid-area:realtorBox2;
    
}
.realtorBox3{
    grid-area:realtorBox3;
}


.features{
    background-color:white;
    grid-area:features;
    padding-top: 150px;
    padding-bottom:150px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows:repeat(2,1fr);
    grid-gap:3em;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}

.card{
        min-height:200px;
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows:50px 150px;
        
        grid-template-areas:
        "icon featuresTitle featuresTitle"
        "icon featuresContent featuresContent";
}

.icon{
    grid-area:icon;
    color:rgb(183,138,56);
}

.featuresTitle{
    grid-area:featuresTitle;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 2.5;  
    padding-left: 10px;
}

.featuresContent{
    grid-area:featuresContent;
    padding-left: 10px;
    font-family: 'Roboto Mono', monospace;
}

.card1{
    grid-area:card1;
}
.card2{
    grid-area:card2;
}
.card3{
    grid-area:card3;
}
.card4{
    grid-area:card4;
}
.card5{
    grid-area:card5;
}
.card6{
    grid-area:card6;
}


.reviews{
   
    grid-area:reviews;
    justify-content: center;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-areas:
    "reviews-imgs reviews-text";
    
}

.reviews-imgs{
    position:relative;
    background-color:rgb(198,152,98);
    grid-area:reviews-imgs;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(16,1fr);
}

.reviews-Img1{
    grid-column:2/span 4;
    grid-row: 4/span 10;
    overflow: hidden;
    width:100%;
    height:auto;
}

.reviews-Img2{
    position:absolute;
    grid-column:4/span 4;
    grid-row: 8/span 10;
    overflow: hidden;
    width:110%;
    height:auto;
}

.reviews-text{
    background-color:rgb(249,247,246);
    
    padding:25% 15% 25% 15%;
    grid-area: reviews-text;
}

.reviewTitle{
    color:rgb(198,152,98);
    font-family: 'Roboto Mono', monospace;
    line-height: 3;
    font-size: 20px;
}

.reviewQuote{
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

.reviewBody{
    padding-top:30px;
    padding-bottom:40px;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
}

.reviews-text > button{
    width:200px;
    line-height: 3;
    background-color:rgb(198,152,98);
    border:none;
    color:white;
    font-family: 'Roboto Mono', monospace;

}

.listings{
    background-color:white;
    grid-area:listings;
    padding-top: 150px;
    padding-bottom:150px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows:repeat(2,1fr);
    grid-gap:3em;
    grid-template-areas:
    "listing1 listing2 listing3"
    "listing4 listing5 listing6";
}

.listingCards{
    position:relative;
    min-height:350px;
    display:grid;
    background-color:rgb(249,247,246);
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(8,1fr);
    grid-template-areas:
    "listingsImg listingsImg"
    "listingsImg listingsImg"
    "listingsImg listingsImg"
    "listingsImg listingsImg"
    "listingName listingName"
    "listingCountry listingRooms"
    "houseSqft listingPrice"
    "listingButton listingButton";
}

.listingCards > button{
    border:none;
    background-color:rgb(183,138,56);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:white;
}

.listingsImg{
    grid-area:listingsImg;
    width:100%;
    height: 100%;
}

.listingName{
    position:absolute;
    top:-20px;
    grid-area:listingName;
    text-align:center;
    width:250px;
    margin-left:25px;
    margin-right:25px;
    line-height: 3;
    background-color:rgb(49,59,78);
    border:none;
    font-size: 15px;
    color:white;
    font-family: 'Roboto Mono', monospace;
}

.listingCountry, .houseSqft, .listingRooms, .listingPrice {
    grid-area:listingCountry;
    display:flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color:rgb(183,138,56);
    margin-left:10px;
}

.listingCountry > p, .houseSqft > p, .listingRooms > p, .listingprice > p{
    margin-top:0px;
    padding-left:10px;
    color:black;
}
.houseSqft{
    grid-area:houseSqft;
}
.listingRooms{
    grid-area:listingRooms;
}
.listingPrice{
    grid-area:listingPrice;
}
.listingButton{
    grid-area:listingButton;
}


.listing1{
    grid-area:listing1;
}

.listing2{
    grid-area:listing2;
}

.listing3{
    grid-area:listing3;
}
.listing4{
    grid-area:listing4;
}
.listing5{
    grid-area:listing5;
}
.listing6{
    grid-area:listing6;
}



.pictures{
    background-color:rgb(249,247,246);
    grid-area:pictures;
    display: grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(7,1fr);
    grid-gap:1em;
    padding:1em;
    
}

.box{
    background:#eee;
    height:100%;
    width:100%;
}

.pictures > img:nth-child(odd){
    background: #ddd;
}

.box1{
    grid-column:1 / span 2;
    grid-row:1/ span 2;
}
.box2{
    grid-column:3/ span 3;
    grid-row: 1/ span 3 ;
}
.box3{
    grid-column: 6/span 1;
    grid-row:1/span 2;
}
.box4{
    grid-column:7/span 2;
    grid-row: 1/ span 2;
}
.box5{
    grid-column:1 / span 2;
    grid-row:3/ span 3;

}
.box6{
    grid-column:3/ span 2;
    grid-row: 4/ span 2 ;

}
.box7{
    grid-column: 5/span 1;
    grid-row:4/span 1;

}
.box8{
    grid-column:6/span 2;
    grid-row: 3/ span 2;

}
.box9{
    grid-column:8 / span 1;
    grid-row:3/ span 3;

}
.box10{
    grid-column:1/ span 1;
    grid-row: 6/ span 2 ;
}
.box11{
    grid-column: 2/span 2;
    grid-row:6/span 2;

}
.box12{
    grid-column:4/span 1;
    grid-row: 6/ span 2;

}
.box13{
    grid-column:5/span 3;
    grid-row: 5/ span 3;

}
.box14{
    grid-column:8/span 1;
    grid-row: 6/ span 2;

}


footer{
    background-color:rgb(49,59,78);
    grid-area:footer;
    padding: 100px 0 100px 0;
    justify-content: center;
    
}

.footer{
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:1fr;
    grid-template-areas:
    "footer-item1 footer-item2 footer-item3 footer-item4 footer-item5 footer-item6";
}
.footer-item{
    font-size: 12px;
    margin:0 20px 0 20px;
    padding:0 20px 0 20px;    
    line-height:4;
    color:white;
    font-family: 'Roboto Mono', monospace;
    background-color:rgb(49,59,78);
    border:none;
}
.footer-item:hover{
    background-color:rgb(198,152,98);
}

.footer-item1{
    grid-area:footer-item1;
}

.footer-item2{
    grid-area:footer-item2;
}

.footer-item3{
    grid-area:footer-item3;
}

.footer-item4{
    grid-area:footer-item4;
}

.footer-item5{
    grid-area:footer-item5;
}

.footer-item6{
    grid-area:footer-item6;
}


@media only screen and (max-width:1450px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:.2fr 1fr .6fr .5fr .4fr 1.2fr .7fr .3fr;
        grid-template-areas:
        "sidebar"
        "main"
        "realtors"
        "features"
        "reviews"
        "listings"
        "pictures"
        "footer";
    }
    .sidebar{
        justify-content:right;
        padding-right:10px;
    }
    main{
        height:95vh; 
    }
    .landingCenter{
        padding-top:400px;
        padding-bottom: 400px;
        
        color:rgb(198,152,98);;
    } 
    .sidebar{
        height:5vh;
    }
    .realtors{
        padding:40px 0px 40px 0px;
        
    }
    .features{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows:repeat(3,1fr);
    grid-gap:3em;
    grid-template-areas:
    "card1 card2"
    "card3 card4"
    "card5 card6";
    }

    .reviews-Img1{
        grid-column:2/span 4;
        grid-row: 6/span 10;        
    }
    
    .reviews-Img2{
        grid-column:4/span 4;
        grid-row: 10/span 10;
    }

    .listings{
        padding-top: 100px;
        padding-bottom:100px;
        grid-template-columns: repeat(2,300px);
        grid-template-rows:repeat(3,1fr);
        grid-template-areas:
        "listing1 listing2"
        "listing3 listing4"
        "listing5 listing6";
    }
    .footer{
        display:grid;
        justify-content: center;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:1fr 1fr;
        grid-template-areas:
        "footer-item1 footer-item2"
        "footer-item3 footer-item4" 
        "footer-item5 footer-item6";
    }
    
}

@media only screen and (max-width:900px){
    .features{
        padding-top: 50px;
        padding-bottom:50px;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows:repeat(6,1fr);
        grid-gap:3em;
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
        }
    
    .reviews{
        background-color:rgb(157,212,213);
        grid-area:reviews;
        justify-content: center;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:repeat(2,1fr);
        grid-template-areas:
        "reviews-imgs"
        "reviews-text";
    }

    .reviews-Img2{
        grid-column:3/span 3;
        grid-row: 10/span 10;
    }

    .listings{
        grid-template-columns: repeat(1,300px);
        grid-template-rows:repeat(6,1fr);
        grid-template-areas:
        "listing1"
        "listing2"
        "listing3"
        "listing4"
        "listing5"
        "listing6";
    }
    .footer{
        
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(6,1fr);
        grid-template-areas:
        "footer-item1" 
        "footer-item2"
        "footer-item3"
        "footer-item4" 
        "footer-item5" 
        "footer-item6";
    }
    
}
